<%-include("./_partials/header")-%>

<head>
    <style>
        .card {
            background-color: #F9F5E7;
            border-radius: 1em;
            padding: 1em;
        }

        .card-detail {
            display: flex;
            gap: 1em;
        }
    </style>
</head>

<body>
    <div class="card">
        <h1 class="card-title">Advanced Fiction Writing</h1>
        <p class="card-description">Hone your fiction writing skills with advanced techniques and intensive practice in this challenging course</p>
        <div class="card-detail"><span>24</span><span>19</span></div>
        <button>Enroll</button>
    </div>
</body>