<%-include("./_partials/header")-%>

<style>
  main {
    height: calc(100vh - 8em);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #F9F5E7;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
  }

  h1 {
    font-size: 36px;
    margin-top: 2rem;
  }
</style>

<body>
  <main>
    <div class="card">
      <img src="/assets/home.svg" />
      <h1>
        Welcome to Writerify! Writerify that can help you improve your writing
        skills
      </h1>
    </div>
  </main>
</body>
