<%-include("./_partials/header")-%>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writerify Sign Up</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
    <style>
        main {
            width: 100vw;
            height: calc(100vh - 8em);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #F9F5E7;
            gap: 1em;
            font-size: 2em;
            padding: 1em;
            border-radius: 1em;
        }

        input {
            font-size: 16px;
            border-radius: 0.25em;
            border: 2px solid #F8EAD8;
            padding: 0.5em;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        #submit {
            background-color: #A7727D;
            color: white;
            border: none;
            padding: 0.5em;
            border-radius: 0.5em;
            cursor: pointer;
            transition-duration: 200ms;
        }

        #submit:hover {
            background-color: #b56373;
        }

        p {
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 26.4px;
        }

        .button-23 {
        background-color: #FFFFFF;
        border: 1px solid #222222;
        border-radius: 8px;
        box-sizing: border-box;
        color: #222222;
        cursor: pointer;
        display: inline-block;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding: 10px;
        outline: none;
        padding: 13px 23px;
        margin: 1%;
        position: relative;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
        }
    </style>
</head>

<body>
    <main>
        <form action="/register" method="POST">
            <!-- userName -->
            <label>
                <p>Username:</p>
                <input type="text" placeholder="Input Your Username" name="username">
            </label>
            <!-- email -->
            <label>
                <p>Email:</p>
                <input type="text" placeholder="Input Your Email" name="email">
            </label>
            <!-- password -->
            <label>
                <p>Password:</p>
                <input type="password" placeholder="Input Your Password" name="password">
            </label>
            <!-- sign up -->
            <button type="submit" class="button-23">Register</button>
        </form>
    </main>
</body>
