<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #efe4ad;
            color: #1C315E;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 2em;
            background-color: #DAEAF1;
            color: #A7727D;
            height: 4em;
        }

        .login-register-nav {
            display: flex;
            gap: 1em;
        }

        #title {
            font-size: 3em;
            transition-duration: 200ms;
        }

        #title:hover {
            font-size: 2em;
        }

        a {
            text-decoration: none;
            transition-duration: 200ms;
            font-size: x-large;
        }

        nav a:hover {
            transform: scale(1.2);
        }

        #title {
            font-family: Nunito;
            font-size: 30px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 26.4px;
            margin: 2rem;
        }

        a {
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-variant: normal;
            font-weight: 700;
            line-height: 26.4px;
            margin: 2rem;
        }

    </style>

</head>
<body>
    <nav>
        <div>
            <a href="/" id="title" style="color: #A7727D;">Writerify</a>
        </div>
        <div class="login-register-nav">
            <% if (typeof user === 'undefined') { %>
                <a href="/login" style="color: #1C315E;">Sign In</a>
                <a href="/register" style="color: #1C315E;">Sign Up</a>
            <% } else { %>
                <a href="/courses/<%= user.id %>">Courses</a>
                <a href="/logout" style="color: #1C315E;">Sign Out</a>
            <% } %>
        </div>
    </nav>
</body>
</html>
